@import '@util/config.scss';

.BucketModalOverlay {
  z-index: 200;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .BucketModal {
    width: 100%;
    height: 100%;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
